.employee
  &__twin
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 20px
  &__img
    width: 100%
    aspect-ratio: 1/1
    border-radius: 30px
  &__buttons
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 10px