.form
  &__rows
    display: flex
    flex-direction: column
    gap: 40px
    @include max($maxMobile)
      gap: 20px

  &__row
    position: relative
  .errored
    border-color: $error
    & + .error
      display: block
      color: $error
      margin-top: 10px
      @include max($maxMobile)
        font-size: 18px
  input, textarea, .hiddendiv
    font: 300 50px/1.2 $mainFont
    @include max($maxMobile)
      font-size: 30px
  input, textarea
    display: block
    border-bottom: 2px solid $black
    color: $black
    box-sizing: content-box
    height: 1.2em
    overflow: hidden
    &::placeholder
      color: rgba(0, 0, 0, 0.5)
    & + .error
      display: none
    @include max($maxMobile)
      font-size: 30px
      padding-bottom: 10px
  input
    line-height: 1
  .hiddendiv
    min-height: 1.2em
    display: block
    position: absolute
    z-index: -1
    opacity: 0
    width: 100%
    white-space: pre-wrap
    word-wrap: break-word
  &__after
    color: #808080
