.info
  &__list
    display: grid
    grid-template-columns: 1fr
    gap: 40px
  &__item
    &.open
      .info__answer
        max-height: 100%
        padding-top: 40px
      .info__question:after
        background: url("../img/info-opened.png") center/contain no-repeat
  &__question
    display: flex
    align-items: center
    justify-content: space-between
    gap: 86px
    cursor: pointer
    padding-bottom: 10px
    border-bottom: 2px solid $black
    @include max($maxMobile)
      gap: 16px
      text-transform: initial
      font-size: 23px
    &:after
      content: ''
      display: block
      width: 36px
      height: 36px
      flex-shrink: 0
      background: url("../img/info-closed.png") center/contain no-repeat
  &__answer
    padding-top: 0
    max-height: 0
    overflow: hidden
    p:not(:last-of-type)
      padding-bottom: 20px
    a
      font-weight: 500
      text-decoration: underline
    ul
      display: grid
      grid-template-columns: 1fr
      gap: 20px
      margin-bottom: 20px
      li
        margin-left: .6em
        position: relative
        display: grid
        gap: .6em
        grid-template-columns: 3px 1fr
        &::before
          content: ''
          width: 6px
          height: 6px
          background: $black
          border-radius: 50%
          display: inline-block
          margin-top: 12px
    @include max($maxMobile)
      font-size: 23px