.main
  margin-top: 0
  .connection
    display: block
    width: 100%
    aspect-ratio: 1060/231
    margin: 40px 0
  .reverse
    display: flex
    flex-direction: column
    gap: 40px
    @include max($maxTabletV)
      flex-direction: column-reverse
    @include max($maxMobile)
      gap: 20px
  .presentation
    width: 100%
    text-transform: uppercase
  .video
    display: block
    position: relative
    border-radius: 25px
    overflow: hidden
    cursor: pointer
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
    &:focus
      outline: none
    video
      display: block
      width: 100%
      object-fit: cover
      aspect-ratio: 36/24
      &:hover + .state svg
        fill: #fafafa
      &:active + .state svg
        fill: #f2f2f2
    .state
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)
      border-radius: 50%
      z-index: 2
      svg
        width: 100px
        height: 100px
        fill: #fff

    &.playing .state
      display: none
    @include max($maxMobile)
      border-radius: 30px
      video
        aspect-ratio: 400/496

  .app
    @include max($maxTabletV)
      &__pagination
        display: flex
        align-items: center
        justify-content: center
        position: unset
        span.swiper-pagination-bullet
          margin: 0
          aspect-ratio: 1/1
          background: #F5F5F5
          opacity: 1
          &-active
            background: $black
    @include between($minTabletV, $maxTabletV)
      width: 80vw
      margin: 0 auto
      &__pagination
        margin-top: 52px
        gap: 20px
        span.swiper-pagination-bullet
          width: 23px
          height: 23px
    @include max($maxMobile)
      &__pagination
        margin-top: 40px
        gap: 12px
        span.swiper-pagination-bullet
          width: 16px
          height: 16px
  .app .swiper-wrapper
    @include min($minTabletG)
      display: grid
      grid-template-columns: repeat(4, 1fr)
      gap: 50px
    @include between($minTabletG, $container)
      gap: 20px
    img
      aspect-ratio: 227/450
    .app__item
      text-align: center
      display: flex
      flex-direction: column
      gap: 30px

  .download
    display: flex
    align-items: center
    justify-content: center
    gap: 10px
    text-align: center
    flex-direction: column
    padding: 20px
    background-color: #f5f5f5
    border-radius: 30px
    img
      width: 120px
      aspect-ratio: 1/1
      border-radius: 10px
  .partners
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: repeat(2, 200px)
    gap: 20px
    @include max($maxMobile)
      grid-template-columns: 1fr
    &__item
      background: #F5F5F5
      border-radius: 30px
      display: flex
      align-items: center
      justify-content: flex-start
      gap: 32px
      padding: 40px
      &.no-text
        justify-content: center
      &:hover img
        filter: grayscale(0%)
      img
        width: auto
        flex-shrink: 0
        filter: grayscale(100%)
      span
        font: 500 20px/1.3 $mainFont
      @include between($minTabletV, $maxTabletV)
        gap: 20px
        padding: 24px
      @include max($maxMobile)
        gap: 24px
        padding: 24px
        min-height: 150px
        span
          font: 400 18px/1.2 $mainFont
        img
          max-height: 100px
          max-width: 100px
        &.no-text img
          max-width: 293px
  .reviews
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 20px
    @include max($maxMobile)
      grid-template-columns: 1fr
    &__item
      padding: 24px 28px
      display: flex
      flex-direction: column
      background: #F5F5F5
      border-radius: 30px
      height: 320px
      &:hover img
        filter: grayscale(0%)
      @include max($maxTabletV)
        height: 250px
    &__link
      margin-top: auto
      display: block
      @include max($maxTabletV)
        font: 400 23px/1.2 $mainFont
    &__row
      display: flex
      align-items: center
      gap: 12px
      img
        width: auto
        flex-shrink: 0
        filter: grayscale(100%)
  .archievements
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 20px
    @include max($maxTabletV)
      position: relative
      width: 100vw
      left: -22px
      padding: 0 22px
      overflow-x: auto
      -ms-overflow-style: none
      scrollbar-width: none
      &::-webkit-scrollbar
        display: none
    &__box
      display: flex
      align-items: center
      justify-content: center
      text-align: center
      background: #F5F5F5
      aspect-ratio: 1/1
      padding: 6.5px
      @include between($minTabletV, $maxTabletV)
        width: 39vw
      @include max($maxMobile)
        width: 300px
      &.square
        border-radius: 30px
      &.round
        border-radius: 50%
  .download-fixed
    display: none
    position: fixed
    top: 230px
    z-index: 2
    margin-left: auto
    background: $black
    border-radius: 20px
    width: 250px
    padding: 15px 11px 15px 15px
    gap: 15px
    align-items: center
    color: #fff
    font-size: 23px
    right: calc((100vw - 1060px)/2)
    &::after
      content: ''
      width: 10px
      height: 10px
      background: url("../img/svg/arrow-white.svg") center/contain no-repeat
      position: absolute
      top: 15px
      right: 19px
    &.active
      display: flex

    img
      width: 70px
      background: #fff
      border-radius: 20px
    @include between($minTabletG, $container)
      right: 15px
    @include max($maxTabletV)
      right: 22px
    @include max($maxMobile)
      font-size: 23px

.IIV::-webkit-media-controls-play-button,.IIV::-webkit-media-controls-start-playback-button
  opacity: 0
  pointer-events: none
  width: 5px